FIREBASE_PROJECT_ID=nour-b174b
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@nour-b174b.iam.gserviceaccount.com
FIREBASE_ADMIN_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
FIREBASE_STORAGE_BUCKET=nour-b174b.firebasestorage.app
FIREBASE_ADMIN_EMAILS=noureg122@gmail.com
FIREBASE_ADMIN_UIDS=
